################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/.vs/Crudado/v16/Server/sqlite3
