################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
/node_modules
/WebApplication1/.vs/Crudado/v16/Server/sqlite3
